<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="map" type="user">
        <id property="id" column="id"></id>
        <result property="nickName" column="nickName"></result>
        <result property="loginName" column="loginName"></result>
        <result property="password" column="password"></result>
        <result property="rightId" column="rightId"></result>
        <result property="status" column="status"></result>
        <result property="headPath" column="headPath"></result>
        <result property="classId" column="classId"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <result property="userEndTime" column="userEndTime"></result>
        <association property="right" resultMap="right"></association>
    </resultMap>
    <resultMap id="right" type="right">
        <id property="id" column="rid"></id>
        <result property="rightName" column="rightName"></result>
    </resultMap>
    <select id="login" parameterType="user" resultType="user">
        select * from user where loginName=#{loginName} and password=#{password}
    </select>
    <select id="count" parameterType="user" resultType="Integer">
        select count(*) from user
    </select>
    <update id="loginDateTime" parameterType="hashmap">
        update user set userEndTime = #{userEndTime} where id =#{id}
    </update>
    <select id="getUserList" parameterType="hashmap" resultMap="map">
        SELECT u.*,r.id AS rid ,r.rightName FROM `user` AS u left JOIN `right` AS r ON u.rightId = r.id
    </select>
    <insert id="addUser" parameterType="User">
        insert into user (nickName,loginName,password,email,sex,rightId,status) values(#{nickName},#{loginName},#{password},#{email},#{sex},#{rightId},#{status})
    </insert>
    <delete id="delete" parameterType="Integer">
        delete from user where id=#{id}
    </delete>
    <update id="update" parameterType="User">
        update user set nickName=#{nickName},loginName=#{loginName},email=#{email},sex=#{sex},rightId=#{rightId},status=#{status} where id=#{id}
    </update>
</mapper>